<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weatherfairy.weatherwearback.post.repository.PostMapper">

    <select id="getFilteredPosts" parameterType="map" resultType="com.weatherfairy.weatherwearback.post.entity.Post">
        SELECT * FROM TBL_POST
        WHERE
        <if test="month != null and month.size() > 0">
            MONTH(date) IN
            <foreach item="item" collection="month" open="(" separator="," close=")">
                #{item}
            </foreach>
            AND
        </if>
        <if test="tempRange != null">
            minTemp &gt;= #{tempRange.min} AND maxTem p &lt;= #{tempRange.max} AND
        </if>
        <if test="emoji != null">
            emoji = #{emoji} AND
        </if>
        memberNo = #{memberNo}
    </select>

</mapper>